.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  background-color: red;
  // border: 1px green solid;
  width: 20rem;
  height: 3rem;

  padding-left: 1rem;
  padding-right: 1rem;


}

.container:hover {
  scale: 1.03;
}



.listItem:not(:last-child) {
    margin-bottom: 5px;
}

.textbar {
  
}

.buttonbar {
  display: flex;
  flex-direction: row;
  // align-content: center;
  // justify-content: center;
  gap: 1rem;
}

.button {
  height: 1.5rem;
}