.homeContainer {
  display: flex;
  flex-direction: row;
}

.mapContainer {
  width: 75vw;
  height: 75vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}